<nav class=" bg-gray-100">
	  <div class="container mx-auto w-38 lg:w-10/12 sm:w-full p-4">
		<div class="flex justify-between">
		  <div class="flex space-x-8">
		  <!-- Logo -->
		  <div>
		  <a class="font-display flex items-center py-2 text-4xl" href="#">          
		  Light Roast
		  </a>
		  </div>
		<!-- Primary -->
		</div>
		<!-- Secondary -->
		  <div class="flex items-center space-x-2 text-gray-400 hover:text-gray-800">
	
		  </div>
		</div>
	  </div>
	</nav>
	
	<div class="bg-black w-full">
	  <div class="container mx-auto w-38 lg:w-10/12 sm:w-full">
		<div class="grid grid-cols-1 md:grid-cols-3 font-body px-4 py-8 gap-4">
		  <div class="p4">
			<h3 class="text-white text-2xl text-body">Kamwangi</h3>
			<h4 class="text-white text-1xl text-body">Kenya</h4>
		  </div>
	
		  <div class="text-body text-sm text-white space-y-4 p-4">
			<p>We are lucky to live in a glorious age that gives us everything we could ask for as a human race. What more could you need when you have meat covered in cheese nestled between bread as a complete meal.</p>
			<p>From smashed patties at Shake Shack to Glamburgers at Honky Tonk, there’s a little something for everyone.</p>
		  </div>
	
		  <div class="text-body text-sm text-white space-y-4 p-4">
			<p>We are lucky to live in a glorious age that gives us everything we could ask for as a human race. What more could you need when you have meat covered in cheese nestled between bread as a complete meal.</p>
			<p>From smashed patties at Shake Shack to Glamburgers at Honky Tonk, there’s a little something for everyone.</p>
			</div>
		  </div>
		</div>
	</div>
	
	<!--
	<header class="site-header">
	  <div class="wrapper">
		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
		<nav class="site-nav">
		  {% for page in site.pages %} {% if page.title %}
		  <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
		  {% endif %} {% endfor %}
		</nav>
	  </div>
	</header>
	-->