<div class="container mx-auto w-38 lg:w-10/12 sm:w-full p-4">
	<div class="p-6 border border-gray-400 rounded-sm">
		<h2 class="text-xl mb-3 text-gray-800 uppercase font-subhead">Membership</h2>
			<p class="text-sm text-gray-400 mb-6 font-body">Do you love the show? Producing this podcast costs money. Please consider signing up for a Light Roast membership via Ko-Fi to help me brew more coffees and support more coffee farmers.</p>
		<div class="space-x-2 space-y-2">
			<button class="py-2 px-4 w-28 bg-gray-100 text-white rounded-md">Sign up</button>
		</div>
	</div>
</div>