<aside class="space-y-2 text-gray-400">

		<div class="flex">
			<h3 class="flex font-display text-xl text-white">Supporters</h3>
		</div>
		
		<div class="font-body text-base pb-4">
			<a href="https://ko-fi.com/lightroast" class="text-white border-b border-gray-300 hover:border-b border-gray-400 hover:border-gray-100">Support the site with $5 once, or $5 ongoing</a>
		</div>
		
		<div class="flex">
			<h3 class="flex font-display text-xl text-white">Sponsors</h3>
		</div>
		
		<div class="font-body text-base">
			Sponsored by <a href="https://samplecoffee.com.au" class="text-white border-b border-gray-300 hover:border-b border-gray-400 hover:border-gray-100">Sample Coffee</a>
		</div>
		
</aside>