---
layout: default
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

	{% include header.html %}
	
	<div class="container mx-auto w-38 lg:w-10/12 sm:w-full p-4">
	  <div class="bg-gray-50 p-6 border-2 border-gray-200 rounded-sm">
		<h2 class="text-lg mb-3 text-gray-800 uppercase font-subhead">Membership</h2>
		<p class="text-sm mb-6">Do you love the show? Producing this podcast costs money. Please consider signing up for a Light Roast membership via Ko-Fi to help me brew more coffees and support more coffee farmers.</p>
	  
	  
	  <div class="space-x-2 space-y-2">
	  
	  <button class="py-2 px-4 w-28 bg-gray-800 text-white rounded-md">Sign up</button>
	  
	  <!--<button class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded inline-flex items-center">
		<span class="material-icons">loyalty</span>
		<span class="ml-2 text-sm">$5 / month</span>
	  </button>-->
	  
	  </div>
	  
	  </div>
	  </div>
	  
	  <div class="container mx-auto lg:w-10/12 sm:w-full px-4">
	  <div class="grid lg:grid-cols-3 sm:grid-cols-3 gap-2">
	  
	  <div class="bg-white p-4 rounded-sm sm:border-2 border-gray-100">
			<h2 class="font-subhead text-xl text-gray-800 mb-1">Adebe Cherfo</h2>
			<div class="inline-flex w-full">
			  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 stroke-current text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
			  </svg> 
			  <h3 class="text-xs text-gray-500 pl-1" >Ethopia</h3>
			</div>
			<div class="inline-flex w-full">
			  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 stroke-current text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
			  </svg>
			  <h3 class="text-xs text-gray-500 pl-1">1900-2000m</h3>
			</div>
			<p class="font-body pt-4 text-sm text-gray-500 leading-6 tracking-normal">Single farmer lots represent the largest percentages of the product developed at Bi-Lab and Jabanto, our coffee sourcing collaborators at origin in Ethiopia. Single farmer lots represent the largest percentages of the product developed at Bi-Lab and Jabanto, our coffee sourcing collaborators at origin in Ethiopia. Our coffee sourcing collaborators at origin in Ethiopia.</p>
			<!-- https://bb.lightroast.fm/files/microlot/ -->
		</div>
	  
		<div class="bg-white p-4 rounded-sm sm:border-2 border-gray-100">
			<h2 class="font-subhead text-xl text-gray-800 mb-1">Adebe Cherfo</h2>
			<div class="inline-flex w-full">
			  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 stroke-current text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
			  </svg> 
			  <h3 class="text-xs text-gray-500 pl-1" >Ethopia</h3>
			</div>
			<div class="inline-flex w-full">
			  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 stroke-current text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
			  </svg>
			  <h3 class="text-xs text-gray-500 pl-1">1900-2000m</h3>
			</div>
			<p class="font-body pt-4 text-sm text-gray-500 leading-6 tracking-normal">Single farmer lots represent the largest percentages of the product developed at Bi-Lab and Jabanto, our coffee sourcing collaborators at origin in Ethiopia.</p>
			<!-- https://bb.lightroast.fm/files/microlot/ -->
		</div>
		
	  <div class="bg-white p-4 rounded-sm sm:border-2 border-gray-100">
			<h2 class="font-subhead text-xl text-gray-800 mb-1">Adebe Cherfo</h2>
			<div class="inline-flex w-full">
			  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 stroke-current text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
			  </svg> 
			  <h3 class="text-xs text-gray-500 pl-1" >Ethopia</h3>
			</div>
			<div class="inline-flex w-full">
			  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 stroke-current text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
			  </svg>
			  <h3 class="text-xs text-gray-500 pl-1">1900-2000m</h3>
			</div>
			<p class="font-body pt-4 text-sm text-gray-500 leading-6 tracking-normal">Single farmer lots represent the largest percentages of the product developed at Bi-Lab and Jabanto, our coffee sourcing collaborators at origin in Ethiopia. Single farmer lots represent the largest percentages of the product developed at Bi-Lab and Jabanto, our coffee sourcing collaborators at origin in Ethiopia. Our coffee sourcing collaborators at origin in Ethiopia.</p>
			<!-- https://bb.lightroast.fm/files/microlot/ -->
			
		</div>
	  
	  </div>
	  </div>
	
	<div class="bg-black w-full h-12 mt-8">
	  <div class="container mx-auto w-38 lg:w-10/12 sm:w-full p-4">
		<h2 class="text-white text-2xl">
		  
		</h2>
	  </div>
	</div>
	
	<!--
	<div class="page-content">
	  <div class="wrapper">
		{{ content }}
	  </div>
	</div>
  -->
	
	{% include footer.html %}

  </body>
</html>