---
layout: post
title: Post
---

{% include head.html %}
{% include nav.html %}

<div class="container mx-auto md:w-9/12 sm:w-full px-4">
  <div class="grid lg:grid-cols-3 sm:grid-cols-3 grid-cols-1 gap-8">
    {% for post in site.posts %}
    <article class="col-span-2 space-y-4"">
      <h2 class="text-2xl font-display text-white">{{ page.title }}</h2>
      <h3 class="text-sm  font-body text-white">{{ post.date | date: "%b %d, %y" }}</h3>
      <div class="mt-2 text-sm font-body text-white">
        <div class="w-full">
          From {{ post.location }} ({{ post.region }}) and farmed at {{ post.altitude }} m.a.s.l
        </div>
        <div class="w-full">
          {{ post.varietals }}
        </div>
        <div class="w-full">
          {{ post.process }}
        </div>
      </div>
      <div class="font-body text-sm text-gray-600">
      {{ content }}
      </div>
    </article>
    {% endfor %}
    {% include sidebar.html %}
  </div>
</div>

{% include footer.html %}