---
layout: post
title: Post
---

{% include head.html %}
{% include nav.html %}

<div class="container mx-auto md:w-9/12 sm:w-full px-4">
  <div class="grid lg:grid-cols-3 sm:grid-cols-3 gap-8">
  
    <article class="col-span-2">
    
      <h1 class="text-2xl font-display text-white">{{ page.title }}</h1>
      <!-- meta data -->
      <div class="font-body text-base text-gray-600">
      {{ content }}
      </div>
    </article>
    
    {% include sidebar.html %}
    
  </div>
</div>

{% include footer.html %}